.leaf {
    position: absolute;
    width: 300px;
	height: 30px;
	border-radius: 0 200px;
	transform: rotate(100deg);
    top: 450px;
    left: -20px;
    scale: 1;
    clip-path: polygon(6.67% 12.51%, 27.17% 19.54%, 36.99% 24.19%, 45.96% 30.33%, 52.14% 36.66%, 58.75% 43.43%, 64.49% 50.95%, 69.61% 59.27%, 75.26% 67.24%, 77.68% 70.91%, 82.42% 79.48%, 90.88% 90.88%, 82.76% 85.01%, 78.01% 81.03%, 74.26% 76.09%, 71.25% 71.25%, 63.5% 60.6%, 57.68% 52.15%, 50.24% 42.4%, 44.34% 36.57%, 39.11% 31.97%, 29.41% 24.58%, 21.7% 20.91%);
    background-color: #008d23
  }

  .leaf-1 {
    transform: rotate(80deg);
    top: 470px;
    left: -65px;
    scale: 0.8;
  }

  .leaf-2 {
    transform: rotate(90deg);
    top: 460px;
    left: -45px;
    scale: 0.9;
  }

  .leaf-3 {
    transform: rotate(60deg);
    top: 500px;
    left: -90px;
    scale: 0.6;
  }

  .leaf-4 {
    transform: rotate(120deg);
    top: 490px;
    left: 10px;
    scale: 0.8;
  }
